#form label {
    width: 200px;
    text-align: right;
    display: inline-block;
}

.libelleFormulaire {
    width: 200px;
    text-align: right;
    display: inline-block;
}

.valeurEnBase {
    font-weight: bold;
}

.case {
    display: inline-block;
    border-collapse: collapse;
    padding: 0;
    width: 45px;
    height: 45px;
}

.casePair {
    background-color: grey;
}

.caseImpair {
    background-color: lightgray;
}